In [ ]:
# Sets in Python ---->
# (1). Identification = {}
# (2). Mutable data type ---> We can change or update values at a run time .
# (3). Unordered , Unindexed  and it contains only unique values .

In [2]:
a = {1,2,3,1,1,1,2}
a

{1, 2, 3}

In [3]:
a.add(55)
a

{1, 2, 3, 55}

In [4]:
a.remove(55)
a

{1, 2, 3}

In [5]:
# Loop in Sets
a = {1,345,67}
for i in a  :
  print(i)

345
67
1

In [8]:
# a = {1,2,3} + {4,5,6}
# a

In [10]:
a={1,2,3,4}
b={3,4,5,6}
c=a.union(b)
c

{1, 2, 3, 4, 5, 6}

In [3]:
d=a|b
d

{1, 2, 3, 4, 5, 6}

In [4]:
##interssection
a={1,2,3,4}
b={3,4,5,6}
c=a.intersection(b)
c

{3, 4}

In [5]:
d=a&b
c

{3, 4}

In [6]:
a-b # it will return only set values removing common elements.

{1, 2}

In [7]:
b-a # it will return set b values removing commmon elements.

{5, 6}

In [8]:
a={1,2,3,4}
a.clear()
a

set()

In [12]:
#question1: given a list  of numbers, remove all duplicates values and return the unique elements
a=[]
size=int(input("enter size:"))
for i in range(size):
    val=int(input("enter item:"))
    a.append(val)
print(a)
b=set(a)
print(b)

enter size: 5
enter item: 1
enter item: 2
enter item: 3
enter item: 3
enter item: 4

[1, 2, 3, 3, 4]
{1, 2, 3, 4}

In [14]:
#question2 : given two sets, find the common elements between them
a={1,2,3,4}
b={3,4,5,6}
a.intersection(b)

{3, 4}

In [15]:
#ques 3: given two sets find elements that are unique to each set
a={1,2,3,4}
b={3,4,5,6}
a^b

{1, 2, 5, 6}

In [18]:
#ques 4: given two sets return elemets rhat are only in the first set.
a={1,2,3,4}
b={3,4,5,6}
a-b

{1, 2}

In [19]:
a.difference(b)

{1, 2}

In [21]:
# ques 5: given two sets, check if the first set is a subset of the second
a={1,2,3,4}
b={1,2}
a.issubset(b)

False

In [22]:
a={1,2,3,4}
b={1,2}
b.issubset(a)

True

In [31]:
# ques6: given multiple sets retuen a single set taht contains all unique elemsts
a={1,2,3,4}
b={3,4,5,6}
c={5,6,7,8}
d=a.union(b)
print(d)
e=d.union(c)
e

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6, 7, 8}