In [15]:
s="rarj"
t="jrra"
dict1={}
dict2={}
for i in s:
    if i in dict1:
        dict1[i]=dict1[i]+1
    else:
        dict1[i]=1
for i in t:
    if i in dict2:
        dict2[i]=dict2[i]+1
    else:
        dict2[i]=2
print(dict1,dict2)

{'r': 2, 'a': 1, 'j': 1} {'j': 2, 'r': 3, 'a': 2}

In [24]:
##for i in range(1,10):
## mylist.append(i)
##i for i in range(1,10)

In [11]:
myset=set({})
print(type(myset))

<class 'set'>

In [18]:
myset={1,2,3,4,5,6,4,5,4,6,7,8,910}
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 910}
{1, 2, 3, 4, 5, 6, 7, 8, 99, 910}

In [19]:
myset={1,2,3,4,5,6,4,5,4,6,7,8,910}
myset.add(99)  ## add
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 99, 910}

In [20]:
myset={1,2,3,4,5,6,4,5,4,6,7,8,910}
myset.remove(4)   ## to remove 
print(myset)

{1, 2, 3, 5, 6, 7, 8, 910}

In [21]:
myset={1,2,3,4,5,6,4,5,4,6,7,8,910}
myset.update("hey")     #to update the values
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 'y', 'e', 910, 'h'}

In [25]:
myset={1,2,3,4,5,6,4,5,4,6,7,8,910}
myset.update(["hey"])  #in list we print the hey
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 910, 'hey'}

In [26]:
#just combine result between 2 or more set
myset1={2,2,4}
myset2={2,4,8,6,40}   ## to combine to set
myset1.union(myset2)

{2, 4, 6, 8, 40}

In [27]:
myset1={2,2,4}
myset2={2,4,8,6,40} # to find the commoin value
myset1.intersection(myset2)

{2, 4}

In [28]:
## difference 
#issuperset
#isdisjoint

In [31]:
##isdisjoint
a={1,2,3}
b={4,5,6}
print(a.isdisjoint(b))

True

In [32]:
a={1,2,3}
b={3,4,5,6}
print(a.isdisjoint(b))

False

In [36]:
a={1,2,3,4}
b={4,5,6,5}
print(b.isdisjoint(a))

False

In [37]:
#issuperset
a={1,2,3,4,}
b={1,2,3,4}
print(a.issuperset(b))

True

In [38]:
a={1,2,3,}
b={1,2,3,4}
print(a.issuperset(b))

False

In [40]:
##difference
A = {1, 2, 3, 4}
B = {3, 4, 5}

print(A.difference(B))  
print(B.difference(A))

{1, 2}
{5}

In [ ]:
#dictionary and set comprehension
for i in "hello":

In [44]:
{i:1 for i in "hello"}

{'h': 1, 'e': 1, 'l': 1, 'o': 1}